extends layout


block content
  .ui.secondary.pointing.menu
    a.active.item(data="all") Todos 
    a.item(data="iberlibro") iberlibro 
    a.item(data="amazon") Amazón ES
    .right.menu
      a.ui.item.flag.es.active.hidden 
          i.es.flag
      a.ui.item.flag.de.hidden 
          i.de.flag
      a.ui.item.flag.fr.hidden
          i.fr.flag
      a.ui.item.flag.it.hidden 
          i.it.flag
      a.ui.item.flag.uk.hidden
          i.uk.flag

      a.ui.item.new 
        i.big.plus.circle.icon.blue 
  .ui.segment
    #jsGrid


  #images.ui.modal
    .app
      a#start-camera.visible(href='#') Touch here to start the app.
      video#camera-stream
      img#snap
      p#error-message
      .controls
        a#delete-photo.disabled(href='#', title='Delete Photo')
          i.material-icons delete
        a#take-photo(href='#', title='Take Photo')
          i.material-icons camera_alt
        a#download-photo.disabled(href='#', download='selfie.png', title='Save Photo')
          i.material-icons file_download
      // Hidden canvas element. Used for taking snapshot of video.
      canvas


  #edit.ui.modal
    .header.book(style="height:50px;") Header
    .content.formIberlibro.hidden
      form.ui.form.editIberlibro
        .field
          .fields
              .five.wide.field.validate
                  label 
                    span
                      span.blue PRECIO
                      
                  input.numeric(disabled, style="text-align:right", type='text', name='price_quantity', placeholder='PRECIO')
              .five.wide.field.validate
                  label 
                    span
                      span.blue PRECIO IBERLIBRO
                      
                  input.numeric(disabled, style="text-align:right", type='text', name='price_quantity_Iberlibro', placeholder='PRECIO')



    .content.formAmazon.hidden

    .content.formEdit.hidden      
      form.ui.form.editForm
        h4.ui.dividing.header Información de libro
        input.numeric(id='id' type='hidden', name='idbooks')
        .field
          .fields
              .five.wide.field.validate
                label
                  span
                    span.blue REF
                    span.red * 
                input.numeric(id='id' type='text', name='vendorListingid', placeholder='referencia',disabled="")

              .five.wide.field
                label.blue Isbn
                input(type='text', name='universalIdentifier_number', placeholder='ISBN')
              .five.wide.field.validate
                  label 
                    span
                      span.blue PRECIO
                      span.red *
                  input.numeric(style="text-align:right", type='text', name='price_quantity', placeholder='PRECIO')
              .five.wide.field
                  label.blue LOCALIZACIÓN
                  input(type='text', name='_loc', placeholder='estanteria....')

              .five.wide.field(style="margin-top:30px;")                  
                  .ui.toggle.checkbox
                    input.hidden(type='checkbox', name='_sales', tabindex='0') 
                    label.blue Vendido      
        .field
          .two.fields
            .field.validate
              label
                span
                  span.blue TITULO
                  span.red *
              input(type='text', name='title', placeholder='Titulo de la obra')
            .field.validate
              label 
                span
                  span.blue AUTOR
                  span.red *
              input(type='text', name='author', placeholder='Autor de la Obra')
        .field
          label.blue Descripcion
          .fields
            textarea(name='description' rows="4")
        .field
          .two.fields
            .field
              label.blue Tipo
              .ui.search.selection.dropdown.productType
                input(type='hidden', name='productType', value='')
                i.dropdown.icon
                .default.text  Tipo 
                .menu 
            .field
              label.blue Estado General
              .ui.search.selection.dropdown.bookCondition
                input(type='hidden', name='bookCondition', value='')
                i.dropdown.icon
                .default.text  Estado General 
                .menu  
            .field
              label.blue Estado Cubierta
              .ui.search.selection.dropdown.jacketCondition
                input(type='hidden', name='jacketCondition', value='')
                i.dropdown.icon
                .default.text  Estado cubierta 
                .menu
        .field
          .two.fields 
            .field
              label.blue Encuadernación
              .ui.search.selection.dropdown.bindingText
                input(type='hidden', name='bindingText', value='')
                i.dropdown.icon
                .default.text Encuadernación 
                .menu
            .field
              label.blue Firmas y dedicatorias
              .ui.search.selection.dropdown.inscriptionType
                input(type='hidden', name='inscriptionType', value='')
                i.dropdown.icon
                .default.text Firmas y dedicatorias 
                .menu
            .field
              label.blue Edición
              .ui.search.selection.dropdown.edition
                input(type='hidden', name='edition', value='')
                i.dropdown.icon
                .default.text Edición 
                .menu
        h4.ui.dividing.header Datos de publicación
        .tree.fields
          .field.validate
            label
              span
                span.blue PUBLICADO POR
                span.red *            
            input(type='text', name='publisherName', placeholder='Nombre')
          .field
            label
              span
                span.blue PUBLICADO EN
                span.red *            
            input(type='text', name='publishPlace', placeholder='Lugar')
          .thirteen.field
            label.blue Año
            input.numeric(type='text', name='publishYear', placeholder='Año',style="width:90px;text-align:right",maxlength="4")
        .ui.button(tabindex='0') Orden de Envío
    .actions
      span
        span.left.red * 
          span campos obligatorios
                
      .ui.approve.button Crear
      .ui.cancel.button Cancelar

  .ui.basic.modal
    .ui.icon.header
      i.leanpub.icon
      |     libro ya a la venta
    .content

    .actions
      .ui.red.basic.cancel.inverted.button
        i.remove.icon
        |       Cancelar

  