extends layout

block content
  .ui.secondary.pointing.menu
    a.active.item Todos 
    a.item iberlibro 
    a.item Amazón ES
    a.item Amazón DE
    a.item Amazón FR
    a.item Amazón IT
    a.item Amazón UK
    .right.menu
      a.ui.item Salir 
  .ui.segment
    #jsGrid
  
  #edit.ui.modal
    .header.book Header
    .content
      
      form.ui.form.editForm
        h4.ui.dividing.header Información de libro
        .field
          .fields
              .four.wide.field
                label ISBN
                input(type='text', name='universalIdentifier_number', placeholder='ISBN')
              .four.wide.field
                  label PRECIO
                  input(style="text-align:right", type='text', name='price_quantity', placeholder='PRECIO')
              .four.wide.field
                  label LOCALIZACIÓN
                  input(type='text', name='_loc', placeholder='estanteria....')

              .four.wide.field(style="margin-top:30px;")                  
                  .ui.toggle.checkbox
                    input.hidden(type='checkbox', name='_sales', tabindex='0') 
                    label Vendido      
        .field
          .two.fields
            .field
              label Titulo
              input(type='text', name='title', placeholder='Titulo de la obra')
            .field
              label Autor
              input(type='text', name='author', placeholder='Autor de la Obra')
        .field
          label Descripcion
          .fields
            textarea(name='description' rows="4")
        h4.ui.dividing.header Datos de publicación
        .two.fields
          .field
            label Nombre
            input(type='text', name='publisherName', placeholder='Publicado por ....')
          .thirteen.field
            label Año
            input(type='text', name='publishYear', placeholder='Año',style="width:90px;text-align:right")
        .ui.button(tabindex='0') Orden de Envío
    .actions
      .ui.approve.button Crear
      .ui.cancel.button Cancelar