extends layout

block content
  .ui.secondary.pointing.menu
    a.active.item Todos 
    a.item iberlibro 
    a.item Amazón ES
    a.item Amazón DE
    a.item Amazón FR
    a.item Amazón IT
    a.item Amazón UK
    .right.menu
      a.ui.item Salir 
  .ui.segment
    #jsGrid
  
  #edit.ui.modal
	.header Header
	.content
		p
	.actions
		.ui.approve.button Crear
		.ui.cancel.button Cancelar