extends layout

block content
  .ui.secondary.pointing.menu
    a.active.item Todos 
    a.item iberlibro 
    a.item Amazón ES
    a.item Amazón DE
    a.item Amazón FR
    a.item Amazón IT
    a.item Amazón UK
    .right.menu
      a.ui.item.new 
        i.big.plus.circle.icon.blue 
  .ui.segment
    #jsGrid


  #images.ui.modal
    span.btn.btn-success.fileinput-button
      i.glyphicon.glyphicon-plus
      span Select files...
      input#fileupload(type='file', name='files[]', multiple='')
    br
    br
    
    #progress.progress
      .progress-bar.progress-bar-success
    
    #files.files
    br
    .panel.panel-default
      .panel-heading
        h3.panel-title Demo Notes
      .panel-body
        ul
          li
            | The maximum file size for uploads in this demo is 
            strong 999 KB
            |  (default file size is unlimited).
          li
            | Only image files (
            strong JPG, GIF, PNG
            | ) are allowed in this demo (by default there is no file type restriction).
          li
            | Uploaded files will be deleted automatically after 
            strong 5 minutes or less
            |  (demo files are stored in memory).
          li
            | You can 
            strong drag & drop
            |  files from your desktop on this webpage (see 
            a(href='https://github.com/blueimp/jQuery-File-Upload/wiki/Browser-support') Browser support
            | ).
          li
            | Please refer to the 
            a(href='https://github.com/blueimp/jQuery-File-Upload') project website
            |  and 
            a(href='https://github.com/blueimp/jQuery-File-Upload/wiki') documentation
            |  for more information.
          li
            | Built with the 
            a(href='http://getbootstrap.com/') Bootstrap
            |  CSS framework and Icons from 
            a(href='http://glyphicons.com/') Glyphicons
            | .


  #edit.ui.modal
    .header.book(style="height:50px;") Header
    .content
      
      form.ui.form.editForm
        h4.ui.dividing.header Información de libro
        input.numeric(id='id' type='hidden', name='idbooks')
        .field
          .fields
              .five.wide.field.validate
                label
                  span
                    span.blue REF
                    span.red * 
                input.numeric(id='id' type='text', name='vendorListingid', placeholder='referencia',disabled="")

              .five.wide.field
                label.blue Isbn
                input(type='text', name='universalIdentifier_number', placeholder='ISBN')
              .five.wide.field.validate
                  label 
                    span
                      span.blue PRECIO
                      span.red *
                  input.numeric(style="text-align:right", type='text', name='price_quantity', placeholder='PRECIO')
              .five.wide.field
                  label.blue LOCALIZACIÓN
                  input(type='text', name='_loc', placeholder='estanteria....')

              .five.wide.field(style="margin-top:30px;")                  
                  .ui.toggle.checkbox
                    input.hidden(type='checkbox', name='_sales', tabindex='0') 
                    label.blue Vendido      
        .field
          .two.fields
            .field.validate
              label
                span
                  span.blue TITULO
                  span.red *
              input(type='text', name='title', placeholder='Titulo de la obra')
            .field.validate
              label 
                span
                  span.blue AUTOR
                  span.red *
              input(type='text', name='author', placeholder='Autor de la Obra')
        .field
          label.blue Descripcion
          .fields
            textarea(name='description' rows="4")
        .field
          .two.fields
            .field
              label.blue Tipo
              .ui.search.selection.dropdown.productType
                input(type='hidden', name='productType', value='')
                i.dropdown.icon
                .default.text  Tipo 
                .menu 
            .field
              label.blue Estado General
              .ui.search.selection.dropdown.bookCondition
                input(type='hidden', name='bookCondition', value='')
                i.dropdown.icon
                .default.text  Estado General 
                .menu  
            .field
              label.blue Estado Cubierta
              .ui.search.selection.dropdown.jacketCondition
                input(type='hidden', name='jacketCondition', value='')
                i.dropdown.icon
                .default.text  Estado cubierta 
                .menu
        .field
          .two.fields 
            .field
              label.blue Encuadernación
              .ui.search.selection.dropdown.bindingText
                input(type='hidden', name='bindingText', value='')
                i.dropdown.icon
                .default.text Encuadernación 
                .menu
            .field
              label.blue Firmas y dedicatorias
              .ui.search.selection.dropdown.inscriptionType
                input(type='hidden', name='inscriptionType', value='')
                i.dropdown.icon
                .default.text Firmas y dedicatorias 
                .menu
            .field
              label.blue Edición
              .ui.search.selection.dropdown.edition
                input(type='hidden', name='edition', value='')
                i.dropdown.icon
                .default.text Edición 
                .menu
        h4.ui.dividing.header Datos de publicación
        .tree.fields
          .field.validate
            label
              span
                span.blue PUBLICADO POR
                span.red *            
            input(type='text', name='publisherName', placeholder='Nombre')
          .field
            label
              span
                span.blue PUBLICADO EN
                span.red *            
            input(type='text', name='publishPlace', placeholder='Lugar')
          .thirteen.field
            label.blue Año
            input.numeric(type='text', name='publishYear', placeholder='Año',style="width:90px;text-align:right",maxlength="4")
        .ui.button(tabindex='0') Orden de Envío
    .actions
      span
        span.left.red * 
          span campos obligatorios
                
      .ui.approve.button Crear
      .ui.cancel.button Cancelar