extends layout

block content
  .ui.secondary.pointing.menu
    a.active.item Todos 
    a.item iberlibro 
    a.item Amazón ES
    a.item Amazón DE
    a.item Amazón FR
    a.item Amazón IT
    a.item Amazón UK
    .right.menu
      a.ui.item Salir 
  .ui.segment
    #jsGrid
  
  #edit.ui.modal
    .header.book Header
    .content
      
      form.ui.form
        h4.ui.dividing.header Información de libro
        .field
          .fields
              .four.wide.field
                label ISBN
                input(type='text', name='universalIdentifier_number', placeholder='ISBN')
              .twelve.wide.field
                span.right
                  label PRECIO
                  input(style="text-align:right", type='text', name='price_quantity', placeholder='PRECIO')
        .field
          .two.fields
            .field
              label Titulo
              input(type='text', name='title', placeholder='Titulo de la obra')
            .field
              label Autor
              input(type='text', name='author', placeholder='Autor de la Obra')
        .field
          label Descripcion
          .fields
            textarea(name='description' rows="4")
        h4.ui.dividing.header Datos de publicación
        .two.fields
          .field
            label Nombre
            input(type='text', name='publisherName', placeholder='Publicado por ....')
          .sixten.wide.field
            label Año
            input(type='text', name='publishYear', placeholder='Año')
        .field
          label Tipo de tarjeta
          .ui.selection.dropdown
            input(type='hidden', name='card[type]')
            .default.text Tipo
            i.dropdown.icon
            .menu
              .item(data-value='visa')
                i.visa.icon
                |  Visa
              .item(data-value='amex')
                i.amex.icon
                |  American Express
              .item(data-value='discover')
                i.discover.icon
                |  Descubrir
        .fields
          .seven.wide.field
            label Número de tarjeta
            input(type='text', name='card[number]', maxlength='16', placeholder='Tarjeta #')
          .three.wide.field
            label CVC
            input(type='text', name='card[cvc]', maxlength='3', placeholder='CVC')
          .six.wide.field
            label Expiración
            .two.fields
              .field
                select.ui.fluid.search.dropdown(name='card[expire-month]')
                  option(value='') Mes
                  option(value='1') Enero
                  option(value='2') Febrero
                  option(value='3') Marzo
                  option(value='4') Abril
                  option(value='5') Mayo
                  option(value='6') Junio
                  option(value='7') Julio
                  option(value='8') Agosto
                  option(value='9') Septiembre
                  option(value='10') Octubre
                  option(value='11') November
                  option(value='12') December
              .field
                input(type='text', name='card[expire-year]', maxlength='4', placeholder='Year')
        h4.ui.dividing.header Receipt
        .field
          label Send Receipt To:
          .ui.fluid.multiple.search.selection.dropdown
            input(type='hidden', name='receipt')
            i.dropdown.icon
            .default.text Contactos guardados
            .menu
              .item(data-value='jenny', data-text='Jenny')
                img.ui.mini.avatar.image(src='/images/avatar/small/jenny.jpg')
                |  Jenny Hess
              .item(data-value='elliot', data-text='Elliot')
                img.ui.mini.avatar.image(src='/images/avatar/small/elliot.jpg')
                |  Elliot Fu
              .item(data-value='stevie', data-text='Esteban')
                img.ui.mini.avatar.image(src='/images/avatar/small/stevie.jpg')
                |  Stevie Feliciano
              .item(data-value='christian', data-text='Christian')
                img.ui.mini.avatar.image(src='/images/avatar/small/christian.jpg')
                |  Christian
              .item(data-value='matt', data-text='Matt')
                img.ui.mini.avatar.image(src='/images/avatar/small/matt.jpg')
                |  Matt
              .item(data-value='justen', data-text='Justen')
                img.ui.mini.avatar.image(src='/images/avatar/small/justen.jpg')
                |  Justen Kitsune
        .ui.segment
          .field
            .ui.toggle.checkbox
              input.hidden(type='checkbox', name='gift', tabindex='0')
              label No se incluye un recibo en el paquete
        .ui.button(tabindex='0') Orden de Envío
    .actions
      .ui.approve.button Crear
      .ui.cancel.button Cancelar