doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/Semantic-UI/semantic.min.css')
    script(src='/js/plugins/jquery-3.1.1.min.js')
    script(src='/css/Semantic-UI/semantic.min.js')
  body
    block content