.ui-jqgrid-view {
    max-height: 642px!important;
    max-width:100%;
}
.ui-jqgrid-bdiv {
    overflow-y: scroll !important;
    max-height: 600px !important;
}
.blue{
    color:blue!important;
}
.red{
    color:red!important;
}
.green{
    color:green!important;
}
.right{
    float:right!important;
}
.left{
    float:left!important;
}
.oculto{
    display:block;
    visibility:hidden;
}
.hidden{
    display:none!important;
}
.back{
    cursor:pointer;
}
.ui.modal>.content {
    background: #ffc177!important;
}
.btnIberlibro{
    height: 50px;
}
.btnIberlibro img{
    height: 30px;
    width: 37px;
}
.jsgrid-filter-row input{
    background-color: #ffffb3;
}
.sale-row{
    color:#a5a3b3;
    text-decoration-line: line-through;
}
.Moneda{
    font-size: smaller;
}
.jsgrid-row {

    background-color: #CCC!important;

}
/*  */