
.ui.secondary.pointing.menu
	a.active.item(data="all") Todos
	a.item(data="iberlibro") iberlibro
	a.item(data="amazon") Amazón ES
	.right.menu
		a.ui.item.flag.es.active.hidden 
			i.es.flag
		a.ui.item.flag.de.hidden 
			i.de.flag
		a.ui.item.flag.fr.hidden
			i.fr.flag
		a.ui.item.flag.it.hidden 
			i.it.flag
		a.ui.item.flag.uk.hidden
			i.uk.flag

		a.ui.item.btnIberlibro
			img(src="img/iberlibro_btn.png")
		a.ui.item.new 
			i.big.plus.circle.icon.blue 
		a.ui.item.clear 
			i.big.plus.redo.icon.green